################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/SportsStore.Domain/obj/Debug
/SportsStore.Domain/bin/Debug
/SportsStore.UnitTest/bin/
/SportsStore.UnitTest/obj/
/SportsStore.WebUI/bin/
/SportsStore.WebUI/obj/
*.suo
*.gitignore
